<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willcav.tvmaze.jobsity.flutter_tv_maze_jobsity">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
